DATABASE_URL=postgresql://user:password@host/dbname?sslmode=require
NEXTAUTH_SECRET=
NEXTAUTH_URL=http://localhost:3000
NEXT_PUBLIC_APP_URL=http://localhost:3000
RESEND_API_KEY=
TELEGRAM_BOT_TOKEN=
UPSTASH_REDIS_URL=redis://default:password@host:port
CRON_SECRET=
